body {
	margin: 0;
	padding: 0;
	font-family: "ff-meta-serif-web-pro", Georgia, Serif;
	font-size: 0.625em;
	background: #f4f4f4 url(image/grid_noise.png);
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
	text-decoration: none;
}
#header {
	border-bottom: 1px solid #F4F4F4;
    text-align: center;
    height: 100px;
    margin-bottom: 85px!important;
    background: white;
    max-width: none;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
}
@-webkit-keyframes dropIn {
  0% { -webkit-transform: perspective(600px) rotateX(-90deg); }
  50% {-webkit-transform: perspective(600px) rotateX(15deg);}
  65% {-webkit-transform: perspective(600px) rotateX(-5deg);}
  80% {-webkit-transform: perspective(600px) rotateX(5deg);}
  95% {-webkit-transform: perspective(600px) rotateX(2deg);}
  100% {-webkit-transform: perspective(600px) rotateX(0deg);}
}
#header, #header h1 { -webkit-animation: dropIn 1s cubic-bezier(0.785, 0.135, 0.150, 0.860); -webkit-animation-fill-mode: both; -webkit-transform-origin: top; }
#header { -webkit-animation-delay: .4s; }
#header h1 { -webkit-animation-delay: .6s; }
#header h1 {
	background: transparent url(image/logo-sm-shad.png) no-repeat 0 0;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    height: 168px;
    width: 220px;
}
#header h1 a {
	opacity: 0.75;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background: transparent url(image/logo-sm.png) no-repeat 0 0;
    text-indent: -9999px;
    display: block;
    width: 200px;
    height: 168px;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    margin: 0 auto;
}
#header ul {
	z-index: 1;
    width: 700px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    position: relative;
    top: -140px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    text-align: center;
    color: #DDD;
}
nav ul, nav ol {
	list-style: none;
    list-style-image: none;
}
#header li, #work article {
	display: inline-block;
}
#header li a {
	text-shadow: 0 1px 0 #999;
    padding: 7px 20px 5px;
    display: block;
    color: #555;
    opacity: 0.75;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}
#header li, h2, h3 {
	text-shadow: 0 0 1px white;
}
#header li.spacer {
	width: 200px;
}
#strap {
    padding-top: 30px;
    clear: both;
    padding: 10px 0;
    display: block;
    width: 95%;
    max-width: 1180px;
    margin: 0 auto;
}
#strap h2 {
	font-size: 5em;
    line-height: 1.1em;
    text-rendering: optimizeLegibility;
    color: #46B2A2;
    text-shadow: 0 2px 0px #1f7a6e;
}
#strap h2, #strap p {
	text-align: center;
    padding: 0;
    margin: 20px;
}
p, label {
	font-family: "ff-meta-web-pro", Helvetica, Arial, Sans-Serif;
    text-shadow: 0 0 1px white;
    font-size: 1.8em;
    text-shadow: 0 0 1px #FFF;
    color: #666;
}
#strap p {
	font-size: 2.2em;
    line-height: 1em;
    text-rendering: optimizeLegibility;
    color: #555;
    padding: 0 5%;
}
section {
    padding: 10px 0;
    display: block;
    width: 95%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px 2.5%;
}
#work {
	margin: 20px auto 30px;
}
#work article {
	width: 31%;
    display: inline-block;
    padding: 0 0 5px;
    margin: 0 1% 30px;
    vertical-align: top;
}
#work a.img {
	display: block;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
    padding: 5px 7px 3px;
    margin-bottom: 10px;
}
#work img {
	max-width: 100%;
    width: 100%;
    opacity: 1.0;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}
img {
	border: 0;
}
#work ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
#work .development {
	background: transparent url(http://assets.garygarside.com/img/icons/development.png) no-repeat 0 0;
}
#work li {
	display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    font-size: 1.6em;
    opacity: 0.3;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}
[data-tip] {
	position:relative;
	cursor:help;
}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	border:5px solid #1a1a1a;
	/* 4 border technique to create the arrow */
	border-top-color:#1a1a1a;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-left-color:transparent;
	position:absolute;
	top:-7px;
	left:10px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:-35px;
	left:0px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:18px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
#work .design {
    background: transparent url(http://assets.garygarside.com/img/icons/design.png) no-repeat 0 0;
}
#work h3, #work p {
	margin: 0;
}
#work h3 a, #work p a {
	display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #3E9B8F;
    text-shadow: 0 0 1px #fff;
    font-size: 1.6em;
    line-height: 0.8em;
    text-rendering: optimizeLegibility;
}
#work p a {
	color: #888;
    text-shadow: none;
    font-size: 0.9em;
    line-height: 1.2em;
}
#work article:hover img { 
	opacity: 0.3; 
	transition: 0.3s ease-in-out; 
	-moz-transition: 0.3s ease-in-out; 
	-webkit-transition: 0.3s ease-in-out; 
}
#work small {
	display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: #888;
}
#header, #about, #contact {
	background: white;
    max-width: none;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
}
#about > div {
	padding-top: 30px;
    padding-bottom: 30px;
}
#about > div, #contact > div {
    padding: 1.5%;
}
#about > div > div {
    display: inline-block;
    width: 60%;
}
#about h2 {
	font-size: 2.6em;
    color: #46B2A2;
}
#about > div > div a {
	text-decoration: underline;
}
#about aside {
	display: inline-block;
    width: 38%;
    padding-left: 10%;
    padding-top: 10px;
    vertical-align: top;
}
#about aside ul {
	margin: 30px 0 30px -30px;
}
#about aside li {
	width: 24%;
    display: inline-block;
    list-style-type: none;
    height: 48px;
    text-align: center;
}
section, #header, #about > div, #contact > div {
	display: block;
    width: 95%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px 2.5%;
}
#work .mobile {
    background: transparent url(http://assets.garygarside.com/img/icons/mobile.png) no-repeat 0 0;
}
#work .branding {
	background: transparent url(http://assets.garygarside.com/img/icons/branding.png) no-repeat 0 1px;
}
#work li:hover {
	opacity: 1.0;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}
#contact {
	padding-top: 40px;
    padding-bottom: 40px;
    background: #9accc5 url(http://assets.garygarside.com/img/triangle.png) repeat-x 0 0;
    padding: 0 2.5%;
}

#contact h2 {
	font-size: 3em;
    color: white;
    text-shadow: 0 1px 1px #3E9B8F;
    margin: 0 auto;
    padding: 0;
}
#contact p {
	margin: 0 auto;
    padding: 0;
    color: white;
    text-shadow: 0 -1px 0 #3E9B8F;
    font-size: 2em;
}
#contact fieldset {
	border: 0;
    padding: 0;
    margin-top: 30px;
}
fieldset {
	border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
#contact label {
	color: white;
    text-shadow: 0 -1px 0 #3E9B8F;
    font-weight: bold;
    font-size: 1.8em;
}
#contact input, #contact textarea {
	padding: 10px;
    border-radius: 3px;
    border: 1px solid #3E9B8F;
    box-shadow: inset 0 1px 1px #888;
    margin-bottom: 20px;
}
#contact input, #contact label, #contact textarea {
	display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 1.6em;
}
#contact button {
	width: auto;
    padding: 12px 20px 10px 18px;
    background: #3E9B8F;
    color: white;
    border-radius: 5px;
    border: 1px solid #3E9B8F;
    box-shadow: inset 0 1px 1px #FFF;
    font-size: 1.6em;
    text-shadow: 0 -1px 1px #666;
    background: rgb(62,155,143);
    background: -moz-linear-gradient(top, rgba(62,155,143,1) 0%, rgba(34,86,73,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,155,143,1)), color-stop(100%,rgba(34,86,73,1)));
    background: -webkit-linear-gradient(top, rgba(62,155,143,1) 0%,rgba(34,86,73,1) 100%);
    background: -o-linear-gradient(top, rgba(62,155,143,1) 0%,rgba(34,86,73,1) 100%);
    background: -ms-linear-gradient(top, rgba(62,155,143,1) 0%,rgba(34,86,73,1) 100%);
    background: linear-gradient(top, rgba(62,155,143,1) 0%,rgba(34,86,73,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e9b8f', endColorstr='#225649',GradientType=0 );
}
#about aside li a { background: transparent url('http://assets.garygarside.com/img/icons/icons.png') no-repeat 0 -48px; height: 48px; width: 48px; display: block; text-indent: -9999px; transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -webkit-transition: 0.3s ease-in-out; }
#about aside li a:hover { transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -webkit-transition: 0.3s ease-in-out; }

#about #twitter a { background-position: -48px -48px; }
#about #forrst a { background-position: -96px -48px; }
#about #facebook a { background-position: -144px -48px; }
#about #twitter a:hover { background-position: -48px 0; }
#about #forrst a:hover { background-position: -96px 0; }
#about #facebook a:hover { background-position: -144px 0; }
#about #zerply a:hover { background-position: 0 0; }
@media all and (max-width: 480px) {
	nav, #strap p {
		display: none;
	}
	#strap h2 {
		font-size: 2em;
	}
	#work article, #about > div > div, #about aside {
		width: 100%;
	}
}
@media only screen and (min-width: 481px) and (max-width: 700px) {
	#about > div > div, #about aside {
		width: 100%;
	}
	#work article {
		width: 47%;
	}
	#strap h2 {
		font-size: 4em;
	}
	#header li {
		font-size: 0.8em;
	}
	#header ul {
		width: 620px;
	}
	#strap p {
		font-size: 1.8em;
	}
}
